/*
    Project:    Strong-homes.org
    File:       login-styles.css
    Created:    Apr 23, 2022 10:31:15 AM
    Updated:    Apr 23, 2022 10:31:15 AM
    Author:     John Arnold <john@jdacsolutions.com>
    Author URI: https://jdacsolutions.com

    Description: Contains styles for the Strong-Homes Login Screen

    License:     GNU General Public License v2 or later
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
:root {
    /** Fonts **/
    --primaryFont : "Source Sans Pro", sans-serif;

    /** Colors **/
    --primaryBlue : #004b8b;
    --primaryRed : #BB0433;
    --white : #ffffff;
    --bgFill : #fafafa;
    --footerFill : #004a80;

    --grayColor1 : #e4e8ea;
    --grayColor2 : #c9cdd0;
    --grayColor3 : #94989B;
    --grayColor4 : #7A7D80;
    --grayColor5 : #5e6264;
    --grayColor6 : #43474A;
    --grayColor7 : #292D2F;

    --sepColor1 : #2887b0;
    --sepColor2 : #61a741;
    --sepColor3 : #e9c46a;
    --sepColor4 : #f4a261;
    --sepColor5 : #e76f51;
    --sepColor6 : #970255;

    --flashBlue : #004A80;
    --flashRed : #B21131;
    --flashLightBlue : #2887B0;
    --flashGreen : #61A741;
    --flashYellow : #E9C46A;
    --flashLightOrange : #F4A261;
    --flashDarkOrange : #E76F51;
    --flashSecOrange: #E8792B;
    --flashPurple : #970255;
}

body.login {
    background: var(--flashBlue);
    padding: 10px 0;
    box-sizing: border-box;
    background-image: url(../img/bc-grid.png);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}
@media only screen and (min-width: 768px) {
    body.login {
        padding: 50px 0;
    }
}
#login::before {
    display: block;
    content: 'Federal Alliance for Safe Homes (FLASH)\aStrong-Homes Login';
    white-space: pre;
    color: var(--white);
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: -.4px;
    margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
    #login::before {
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin-bottom: 4rem;
    }
}
#login {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    max-width: 1280px;
}
#login h1 {
    display: inline-flex;
    flex-basis: 100%;
}
@media only screen and (min-width: 768px) {
    #login h1 {
        flex-basis: 45%;
    }
}
#login h1 a, .login h1 a {
    background-image: url(../img/house-login.png);
    height: 200%;
    width: 70%;
    background-size: 75%;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}
@media only screen and (min-width: 768px) {
    #login h1 a, .login h1 a {
        height: 145%;
        width: 90%;
        background-size: 90%;
    }

}
#login form {
    margin: 7.25rem auto 0;
    flex-basis: 80%;
    text-align: left;
}
@media only screen and (min-width: 768px) {
    #login form {
        margin-top: -.8rem;
        margin-left: 0;
        flex-basis: 44%;
    }
}
@media only screen and (min-width: 992px) {
    #login form {
        margin-top: 2rem;
        flex-basis: 40%;
    }
}
@media only screen and (min-width: 1200px) {
    #login form {
        margin-top: 5rem;
    }
}
@media only screen and (min-width: 1440px) {
    #login form {
        margin-top: 6rem;
        flex-basis: 32%;
    }
}

#login p {
    flex-basis: 100%;
}
#login p.message {
    position: absolute;
    width: 80%;
    bottom: -75px;
    left: 7.5%;
    border: 4px solid var(--flashLightBlue);
}
@media only screen and (min-width: 768px) {
    #login p.message {
        bottom: unset;
        left: 10%;
        top: 0;
    }
}
.login #backtoblog a, .login #nav a {
    text-decoration: none;
    color: var(--white);
}
.login #backtoblog a:hover, .login #nav a:hover {
    text-decoration: underline;
    color: var(--white);
}
.login #login_error {
    border: 4px solid #d63638;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    bottom: -75px;
    left: 7.5%;
}
@media only screen and (min-width: 768px) {
    .login #login_error {
        bottom: unset;
        top: 0;
        left: 10%;
    }
}
.login label {
    font-family: var(--primaryFont);
    color: var(--flashBlue);
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: -.4px;
}
@media only screen and (min-width: 768px) {
    .login label {
        font-weight: 600;
        line-height: 2rem;
    }
}
