:root {
    /** Fonts **/
    --primaryFont : "Source Sans Pro", sans-serif;

    /** Colors **/
    --primaryBlue : #004b8b;
    --primaryRed : #BB0433;
    --white : #ffffff;
    --bgFill : #fafafa;
    --footerFill : #004a80;

    --grayColor1 : #e4e8ea;
    --grayColor2 : #c9cdd0;
    --grayColor3 : #94989B;
    --grayColor4 : #7A7D80;
    --grayColor5 : #5e6264;
    --grayColor6 : #43474A;
    --grayColor7 : #292D2F;

    --sepColor1 : #2887b0;
    --sepColor2 : #61a741;
    --sepColor3 : #e9c46a;
    --sepColor4 : #f4a261;
    --sepColor5 : #e76f51;
    --sepColor6 : #970255;

    --flashBlue : #004A80;
    --flashRed : #B21131;
    --flashLightBlue : #2887B0;
    --flashGreen : #61A741;
    --flashYellow : #E9C46A;
    --flashLightOrange : #F4A261;
    --flashDarkOrange : #E76F51;
    --flashSecOrange: #E8792B;
    --flashPurple : #970255;
}
html {
    min-height: 100%;
    box-sizing: border-box;
    font-size: 62.5%; /* Now 10px = 1 rem! */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    min-height: 100%;
    font-family: var(--primaryFont);
    font-size: 1.6rem;
    background-color: var(--bgFill);
}
a {
    color: var(--flashBlue);
}
a:hover {
    color: var(--flashLightBlue);
    text-decoration: underline;
}
/* ------------------------------------------------------------------------------------------------
   Header Styles
   ----------------------------------------------------------------------------------------------*/
header.site-header {
    background-color: var(--white);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    height: 8rem;
}
header.site-header nav {
    padding: 1.876rem 0 0;
}
header.site-header nav a {
    display: block;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    header.site-header nav {
        padding: 1.876rem 0 0 2.778rem;
    }
    header.site-header nav a {
        margin: 0;
    }
}
div.navbar-right.t-strong {
    z-index: 500;
    width: 100%;
}
#prog_menu {
    margin: 2rem 0 0;
    background-color: rgba(0,0,0,.875);
    border-radius: .3rem;
    padding: 3rem 2rem 2rem 2rem;
}
#prog_menu li a {
    color: var(--white);
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 600;
}
@media only screen and (min-width: 600px) {
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
}
/* ------------------------------------------------------------------------------------------------
   Content Separators
   ----------------------------------------------------------------------------------------------*/
section.content-separator > div.container {
    max-width: 100%;
    padding: 0;
}
section.content-separator div.row,
section.content-separator div.row div.col-2 {
    height: 13px;
}
section.content-separator div.row {
    margin-left: 0;
    margin-right: 0;
}
section.content-separator div.row div.col-2:nth-of-type(1) {
    background-color: var(--sepColor1);
}
section.content-separator div.row div.col-2:nth-of-type(2) {
    background-color: var(--sepColor2);
}
section.content-separator div.row div.col-2:nth-of-type(3) {
    background-color: var(--sepColor3);
}
section.content-separator div.row div.col-2:nth-of-type(4) {
    background-color: var(--sepColor4);
}
section.content-separator div.row div.col-2:nth-of-type(5) {
    background-color: var(--sepColor5);
}
section.content-separator div.row div.col-2:nth-of-type(6) {
    background-color: var(--sepColor6);
}
/* ------------------------------------------------------------------------------------------------
 * - Main Nav Style
 * ----------------------------------------------------------------------------------------------*/
#menu-main-nav {
    justify-content: space-evenly;
    width: 100%;
}
#menu-main-nav li > a {
    display: inline-block;
    position: relative;
}
#menu-main-nav li > a {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--grayColor6);
}
#menu-main-nav li > a::after {
    display: block;
    position: absolute;
    width: .585rem;
    height: .585rem;
    content: '';
    border-top: 2px solid var(--grayColor4);
    border-right: 2px solid var(--grayColor4);
    transform: rotate(45deg);
    right: -1rem;
    bottom: .8rem;
}
/* The collapsible nav for narrow screens */
#main_menu {
    background-color: var(--white);
    padding-left: 1rem;
    padding-bottom: 1rem;
}
#main_menu.show {
    z-index: 500;
}

/* ------------------------------------------------------------------------------------------------
   Video Section Styles
   ----------------------------------------------------------------------------------------------*/
#videos {
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: rgba(40,135,176,0.5);
}
@media only screen and (min-width: 768px) {
    #videos {
        /*margin-bottom: 4.5rem; */
        padding-bottom: 6rem;  /* Uncomment this when Flash wants to add more videos - thumb navs */
    }
}
@media only screen and (min-width: 600px) {
    #videos {
        /*padding-bottom: 15rem; */ /* for the thumbnail navigation - uncomment when Flash wants to add additional videos */
    }
}
@media only screen and (min-width: 1024px) {
    #videos {
        /*padding-bottom: 22rem; */ /* Uncomment for the thumbnail navigation */
        margin-top: 5rem;
    }
}
@media only screen and (min-width: 1280px) {
    #videos {
        /*padding-bottom: 28rem; */ /* for the thumbnail navigation */
        padding-bottom: 6rem; /* Nav temp disabled until more videos available */
    }
}
#videos h3 {
    margin-bottom: 2rem;
}
#videos div.container {
    /*padding: 0;*/
}
#videos div.fp_video_wrapper {
    position: relative;
}
#fp_videos {
    background: transparent;
    padding: 0;
    margin-bottom: 2rem;
}
#fp_videos div.rsVideoContainer {
    background: var(--white);
}
#fp_videos div.rsBtnCenterer,
#video_wraps div.rsBtnCenterer {
    top: 50%;
    width: 6.4rem;
    height: 6.4rem;
    margin-top: -3.2rem;
    margin-left: -3.2rem;
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsBtnCenterer,
    #video_wraps div.rsBtnCenterer {
        width: 9rem;
        height: 9rem;
        margin-top: -4.5rem;
        margin-left: -4.5rem;
    }
}
@media only screen and (min-width: 1200px) {
    #fp_videos div.rsBtnCenterer {
        width: 11.6rem;
        height: 11.6rem;
        margin-top: -5.8rem;
        margin-left: -5.8rem;
    }
    #video_wraps div.rsBtnCenterer {
        width: 5.8rem;
        height: 5.8rem;
        margin-top: -2.9rem;
        margin-left: -2.9rem;
    }
}
#fp_videos div.rsBtnCenterer > div.rsPlayBtn,
#video_wraps div.rsBtnCenterer > div.rsPlayBtn,
#training_intro div.rsBtnCenterer > div.rsPlayBtn {
    width: 6.4rem;
    height: 6.4rem;
    margin-left: 0;
    margin-top: 0;
}
#training_intro div.rsBtnCenterer > div.rsPlayBtn {
    margin-left: -32px;
    margin-top: -32px;
}
@media only screen and (min-width: 1024px) {
    #fp_videos div.rsBtnCenterer > div.rsPlayBtn,
    #video_wraps div.rsBtnCenterer > div.rsPlayBtn,
    #training_intro div.rsBtnCenterer > div.rsPlayBtn {
        width: 9rem;
        height: 9rem;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsBtnCenterer > div.rsPlayBtn,
    #training_intro div.rsBtnCenterer > div.rsPlayBtn {
        width: 11.6rem;
        height: 11.6rem;
    }
    #video_wraps div.rsBtnCenterer > div.rsPlayBtn {
        width: 5.8rem;
        height: 5.8rem;
    }
}
#fp_videos div.rsOverflow,
#fp_videos div.rsSlide {
    border-radius: 3px;
}
#fp_videos img.rsImg {
    max-width: 100% !important;
    height: auto !important;
    margin-left: 0 !important;
}
#fp_videos div.rsGCaption {
    bottom: .5rem;
    background: transparent;
    left: 0 !important;
    padding: 0;
}
@media only screen and (min-width: 1200px) {
    #fp_videos div.rsGCaption {
        padding: 0 2rem;
    }
}
#fp_videos div.rsGCaption > div.rsCaption {
    color: var(--flashBlue);
    font-weight: 700;
    letter-spacing: -.4px;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsGCaption > div.rsCaption {
        font-size: 2.8rem;
        line-height: 3rem;
    }
}
/* Style the thumbnail navigation */
#fp_videos div.rsThumbsHor {
    position: absolute;
    background: transparent;
    width: 75%;
    left: 12.5%;
    height: 6.175rem;
    bottom: -9rem;
}
@media only screen and (min-width: 360px) {
    #fp_videos div.rsThumbsHor {
        width: 65%;
        left: 17%;
    }
}
@media only screen and (min-width: 384px) {
    #fp_videos div.rsThumbsHor {
        width: 80%;
        left: 8%;
    }
}
@media only screen and (min-width: 411px) {
    #fp_videos div.rsThumbsHor {
        width: 85%;
        left: 6%;
    }
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsThumbsHor {
        width: 94%;
        left: 3%;
        bottom: -13rem;
        height: 9.25rem;
    }
}
@media only screen and (min-width: 768px) {
    #fp_videos div.rsThumbsHor {
        width: 97%;
        left: 0;
    }
}
@media only screen and (min-width: 1024px) {
    #fp_videos div.rsThumbsHor {
        height: 13.6rem;
        bottom: -20rem;
        width: 90%;
        left: 5%;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsThumbsHor {
        width: 100%;
        left: 0;
        bottom: -24rem;
        height: 18.5rem;
    }
}
#fp_videos div.rsThumbsHor div.rsThumb {
    width: 10rem;
    height: 6.175rem;
    border-radius: 3px;
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsThumbsHor div.rsThumb {
        width: 15rem;
        height: 9.25rem;
    }
}
@media only screen and (min-width: 1024px) {
    #fp_videos div.rsThumbsHor div.rsThumb {
        width: 22rem;
        height: 13.6rem;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsThumbsHor div.rsThumb {
        width: 30rem;
        height: 18.5rem;
    }
}
#fp_videos div.rsTmb {
    position: relative;
}
#fp_videos div.rsThumb.rsNavSelected {
    background: none;
    border: 2px solid var(--footerFill);
    box-sizing: border-box;
}
#fp_videos div.rsThumb.rsNavSelected img {
    opacity: 1;
}
#fp_videos div.rsTmb > div.thumb-cap {
    position: absolute;
    display: table;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#fp_videos div.rsTmb > div.thumb-cap::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/play-arrow.png);
    background-size: 2.4rem;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsTmb > div.thumb-cap::before {
        background-size: 2.8rem;
        background-position: center 1.5rem;
        opacity: 0.75;
    }
}
@media only screen and (min-width: 1024px) {
    #fp_videos div.rsTmb > div.thumb-cap::before {
        background-size: 4rem;
        background-position: center center;
        opacity: 1;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsTmb > div.thumb-cap {
        background-size: 6rem;
    }
    #fp_videos div.rsTmb > div.thumb-cap::before {
        background-size: 6rem;
        background-position: center center;
        opacity: 1;
    }
}
#fp_videos div.rsTmb > div.thumb-cap p {
    display: table-cell;
    vertical-align: bottom;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    color: var(--white);
    letter-spacing: -.4px;
    opacity: 0;
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsTmb > div.thumb-cap p {
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 600;
        padding-bottom: .75rem;
        padding-left: .5rem;
        opacity: 1;
    }
}
@media only screen and (min-width: 1024px) {
    #fp_videos div.rsTmb > div.thumb-cap p {
        padding-right: .5rem;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsTmb > div.thumb-cap p {
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: 700;
        padding: 0 2.5rem 1.25rem;
    }
}
#fp_videos div.rsPlayBtnIcon,
#video_wraps div.rsPlayBtnIcon,
#training_intro div.rsPlayBtnIcon {
    border-radius: 50%;
    width: 6.4rem;
    height: 6.4rem;
    background-image: url(../images/play-arrow.png);
    background-size: 2.8rem;
    background-position: 2.1rem 1.7rem;
    background-color: rgba(0,0,0,.35);
}
#video_wraps div.rsPlayBtnIcon {
    background-color: rgba(0,0,0,.2125);
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsPlayBtnIcon,
    #video_wraps div.rsPlayBtnIcon,
    #training_intro div.rsPlayBtnIcon {
        width: 7rem;
        height: 7rem;
        background-size: 3.2rem;
        background-position: 2.25rem center;
    }
}
@media only screen and (min-width: 768px) {
    #fp_videos div.rsPlayBtnIcon,
    #video_wraps div.rsPlayBtnIcon,
    #training_intro div.rsPlayBtnIcon {
        width: 9rem;
        height: 9rem;
        background-size: 4.2rem;
        background-position: 3rem center;
    }
}
@media only screen and (min-width: 1200px) {
    #fp_videos div.rsPlayBtnIcon,
    #training_intro div.rsPlayBtnIcon {
        width: 11.6rem;
        height: 11.6rem;
        background-size: 4.8rem;
        background-position: 4.25rem center;
    }
    #video_wraps div.rsPlayBtnIcon {
        width: 5.8rem;
        height: 5.8rem;
        background-size: 2.4rem;
        background-position: 2.125rem center;
    }
}
/* Thumbnail arrow icons */
#fp_thumb_left, #fp_thumb_right {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-left: 4px solid var(--footerFill);
    border-bottom: 4px solid var(--footerFill);
    background: var(--white);
    cursor: pointer;
    bottom: -6.75rem;
}
#fp_thumb_left {
    left: 5%;
    transform: rotate(45deg);
}
#fp_thumb_right {
    right: 5%;
    transform: rotate(-135deg);
}
#fp_thumb_left.rsThumbsArrowDisabled,
#fp_thumb_right.rsThumbsArrowDisabled {
    opacity: .5;
}
@media only screen and (min-width: 600px) {
    #fp_thumb_left, #fp_thumb_right {
        bottom: -9.25rem;
    }
    #fp_thumb_left {
        left: -1.75%;
    }
    #fp_thumb_right {
        right: -1.75%;
    }
}
@media only screen and (min-width: 768px) {
    #fp_thumb_left, #fp_thumb_right {
        width: 2rem;
        height: 2rem;
        bottom: -10.25rem;
    }
    #fp_thumb_left {
        left: 5%;
    }
    #fp_thumb_right {
        right: 5%;
    }
}
@media only screen and (min-width: 1024px) {
    #fp_thumb_left, #fp_thumb_right {
        bottom: -14.75rem;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_thumb_left, #fp_thumb_right {
        width: 2.4rem;
        height: 2.4rem;
        bottom: -15.8rem;
    }
}
/* ------------------------------------------------------------------------------------------------
 * Tweets Section - Front page
 * ----------------------------------------------------------------------------------------------*/
#tweets {
    background-color: var(--flashBlue);
    padding-top: 4rem;
    margin-bottom: 12rem;
    height: 45rem;
}
@media only screen and (min-width: 600px) {
    #tweets {
        height: 30rem;
    }
}
@media only screen and (min-width: 768px) {
    #tweets {
        height: 40rem;
    }
}
div.tweet-wrapper {
    position: relative;
    height: 45rem;
}
@media only screen and (min-width: 600px) {
    div.tweet-wrapper {
        height: 35rem;
    }
}
@media only screen and (min-width: 768px) {
    div.tweet-wrapper {
        height: 40rem;
    }
}
div.tweet-wrapper h3 {
    color: var(--white);
    font-size: 3.1rem;
    line-height: 4rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    div.tweet-wrapper h3 {
        font-size: 3.6rem;
    }
}
#tweets .royalSlider {
    background: var(--white);
    border: 2px solid var(--grayColor1);
    border-radius: 3px;
    position: absolute;
    height: 40rem;
    width: 340px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
@media only screen and (min-width: 414px) {
    #tweets .royalSlider {
        width: 384px;
    }
}
@media only screen and (min-width: 428px) {
    #tweets .royalSlider {
        width: 398px;
    }
}
@media only screen and (min-width: 600px) {
    #tweets .royalSlider {
        width: 510px;
        height: 27rem;
    }
}
@media only screen and (min-width: 768px) {
    #tweets .royalSlider {
        height: 35rem;
        width: 100%;
    }
}
#tweets .rsOverflow,
#tweets .rsSlide {
    background: var(--white);
    color: var(--grayColor5);
}
#tweets .rsOverflow {
    padding: 1rem;
    border-radius: 3px;
}
@media only screen and (min-width: 768px) {
    #tweets .rsOverflow {
        padding: 2rem;
    }
}
@media only screen and (min-width: 1024px) {
    #tweets .rsOverflow {
        padding: 3rem 4rem;
    }
}
@media only screen and (min-width: 1280px) {
    #tweets .rsOverflow {
        padding: 4rem 6rem;
    }
}
div.single-tweet {
    padding: 1rem 1rem 1rem 4rem;
    border: 2px solid var(--grayColor1);
    border-radius: 3px;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
}
@media only screen and (min-width: 768px) {
    div.single-tweet {
        padding: 4rem 6rem;
    }
}
.jcs-author-box {
    float: left;
    clear: both;
    font-size: 1.6rem;
    min-height: 3.2rem;
    margin-bottom: .2rem;
    word-break: break-word;
    width: 100%;
}
.jcs-author-box-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 2.1rem !important;
    position: relative;
}
.jcs-author-box-link a:hover {
    text-decoration: none;
}
a.jcs-author-name {
    text-decoration:underline;
    display: inline-block;
    position: absolute;
    margin-top: .5rem;
}
.jcs-author-avatar {
    clear: both;
    margin: 0 1.3rem 0 -3.6rem;
    float: left;
    /*overflow: hidden;*/
    border: none;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
}
.jcs-author-avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.jcs-verified {
    color: var(--flashLightBlue);
    margin-right: .4rem;
    display: inline-block;
    margin-left: 0;
}
#tweets_rs svg {
    box-sizing: unset;
}
#tweets_rs .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1.6rem;
    vertical-align: -.2rem;
}
#tweets_rs svg:not(:root).svg-inline--fa {
    box-sizing: unset;
    overflow: visible;
    width: 1.6rem;
}
#tweets_rs div.tweet-meta {
    display: inline-block;
    position: absolute;
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 400;
}
div.tweet-meta a {
    color: var(--grayColor6);
}
.jcs-screenreader {
    text-indent: -9999px !important;
    display: inline-block !important;
    width: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    text-align: left !important;
}
#tweets_rs .tweet-content {
    padding-left: 2rem;
    padding-top: 6rem;
}
.tweet-content > p > a:last-of-type {
    display: none;
}
#tweets_rs .tweet-actions {
    display: flex;
    width: 100%;
    padding-left: 2rem;
    margin-top: 1.5rem;
}
.tweet-actions .action-item {
    display: inline-flex;
    flex-basis: 10%;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--flashLightBlue);
}
#tweets_rs .action-item .svg-inline--fa {
    margin-right: .75rem;
    vertical-align: .5rem;
}
/* ------------------------------------------------------------------------------------------------
 * Hotels/Accommodations
 * ----------------------------------------------------------------------------------------------*/
#hotels {
    padding-top: 2rem;
    padding-bottom: 4rem;
}
@media only screen and (min-width: 768px) {
    #hotels {
        padding-bottom: 8rem;
    }
}
.section-heading h3 {
    color: var(--flashBlue);
    font-weight: 700;
    letter-spacing: -.4px;
    font-size: 3.1rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
    .section-heading h3 {
        font-size: 3.6rem;
    }
}
.section-heading.centered h3 {
    text-align: center;
}
@media only screen and (min-width: 1200px) {
    .section-heading h3 {
        margin-bottom: 2rem;
    }
}
div.lodging-wrapper {
    background-color: var(--white);
    border: 2px solid var(--grayColor1);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.08);
    margin-bottom: 4rem;
}
div.lodging {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-size: cover;
    height: 16rem;
}
@media only screen and (min-width: 600px) {
    div.lodging {
        height: 24rem;
    }
}
@media only screen and (min-width: 1024px) {
    div.lodging {
        height: 19.5rem;
        /*width: 37.5rem;*/
    }
}

div.lodging-wrapper > div.info > h4 {
    color: var(--white);
    padding: 1rem 2rem;
    font-weight: 600;
    letter-spacing: -.4px;
    font-size: 2.6rem;
    line-height: 2.8rem;
    min-height: 6.4rem;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    div.lodging-wrapper > div.info > h4 {
        font-size: 2.8rem;
        line-height: 3.4rem;
        min-height: unset;
    }
}
@media only screen and (min-width: 1024px) {
    div.lodging-wrapper > div.info > h4 {
        font-size: 3rem;
        line-height: 3.2rem;
        min-height: 8.4rem;
    }
}
div.info > h4.blue {
    background-color: var(--flashBlue);
}
div.info > h4.red {
    background-color: var(--flashRed);
}
div.info > h4.light-blue {
    background-color: var(--flashLightBlue);
}
div.info > h4.green {
    background-color: var(--flashGreen);
}
div.info > h4.yellow {
    background-color: var(--flashYellow);
}
div.info > h4.light-orange {
    background-color: var(--flashLightOrange);
}
div.info > h4.dark-orange {
    background-color: var(--flashDarkOrange);
}
div.info > h4.purple {
    background-color: var(--flashPurple);
}

div.info > div.info-content {
    height: 13rem;
    padding: 1rem 2rem;
}
div.info-content > p {
    color: var(--grayColor6);
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 0;
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------
 * Sponsors Section
 * ----------------------------------------------------------------------------------------------*/
#sponsors {
    padding: 4rem 0 0;
}
@media only screen and (min-width: 1024px) {
    #sponsors {
        padding: 8rem 0 0;
    }
}
#sponsors .row {
    background-color: var(--white);
}
#sponsors .row:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#sponsors .row:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#sponsors .section-heading {
    padding: 3rem;
}
#sponsors h2 {
    color: var(--flashBlue);
    font-weight: 700;
    text-align: center;
    letter-spacing: -.4px;
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
    #sponsors h2 {
        background: url(../images/hr.png) repeat-x left 2rem;
        background-size: 2px;
    }
}
@media only screen and (min-width: 1200px) {
    #sponsors h2 {
        font-size: 4rem;
        line-height: 4.8rem;
        background: url(../images/hr.png) repeat-x left 2.7rem;
        background-size: 2px;
        margin-bottom: 3rem;
    }
}
#sponsors h2 span {
    background-color: var(--white);
    position: relative;
}
@media only screen and (min-width: 768px) {
    #sponsors h2 span {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media only screen and (min-width: 1200px) {
    #sponsors h2 span {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
#sponsors div.logo-spreader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 4rem;
}
@media only screen and (min-width: 768px) {
    #sponsors div.logo-spreader {
        /* flex-wrap: wrap-reverse; */
    }
}
div.logo-spreader > div {
    display: inline-flex;
    flex-basis: 60%;
    margin: 0 0 1rem;
    height: 8rem;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    div.logo-spreader > div {
        flex-basis: 40%;
        margin: 0 2rem 4rem 0;
        height: 8rem;
        width: auto;
    }
    div.logo-spreader > div:last-of-type {
        margin-right: 0;
    }
}
@media only screen and (min-width: 1200px) {
    div.logo-spreader > div {
        flex-basis: 20%;
        margin: 0 2rem 4rem 0;
        height: 11rem;
        width: auto;
    }
}
#sponsors  div.logo-spreader > div > a {
    display: inline-block;
    margin: 0 auto;
    height: 8rem;
    line-height: 8rem;
}
@media only screen and (min-width: 600px) {
    #sponsors div.logo-spreader > div > a {
        height: 12.5rem;
        line-height: 12.5rem;
    }
}
#sponsors div.logo-spreader > div > a > img {
    max-width: 60%;
}
@media only screen and (min-width: 768px) {
    #sponsors div.logo-spreader > div > a > img {
        max-width: unset;
        max-height: 80%;
    }
}
/*------------------------------------------------------------------------------
-- GALLERY
------------------------------------------------------------------------------*/
#event_gallery {
    padding: 4rem 0 2rem;
    background-color: var(--flashLightBlue);
}
@media only screen and (min-width: 1024px) {
    #event_gallery {
        padding: 8rem 0 6rem;
    }
}
#event_gallery .section-heading h3 {
    margin-bottom: 0;
    color: var(--white);
}
#event_gallery .section-heading h4 {
    color: var(--white);
    font-style: italic;
    letter-spacing: -.4px;
    font-size: 2rem;
    margin-top: 3rem;
}
#event_gallery .section-heading h4 > a {
    color: var(--white);
}
#event_gallery .section-heading.centered h4 {
    text-align: center;
}
#event_gallery .gallery-wrap {
    padding: 0 4.5rem 5rem;
    /*background-color: var(--flashLightBlue);*/
    border-radius: 3px;
}

div[id^='gallery_'] {
    margin: auto;
}
div[id^='gallery_'] .gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 11%;
}
div[id^='gallery_'] img {
    width: 100%;
    height: auto;
    border: 2px solid #cfcfcf;
}
div[id^='gallery_'] .gallery-caption {
    margin-left: 0;
}
.gallery .gallery-item {
    width: 50% !important;
    margin: 0;
    padding: 0 .5rem !important;
}
@media only screen and (min-width: 768px) {
    .gallery .gallery-item {
        width: 25% !important;
    }
}
.gallery .gallery-item img {
    border: none !important;
}
.gallery-item a {
    line-height: 1.5rem;
}
.gallery-item .photo-blog {
    background-color: var(--white);
    display: block;
    width: auto;
    margin: 0 0 2.7rem 0;
    padding: 1rem 1rem 1.5rem 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    border-radius: 3px;
    border: 1px solid var(--grayColor1);
}
.photo-blog .polaroid {
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    max-width: 100%;
    height: auto;
}
/* ------------------------------------------------------------------------------------------------
 * Footer Styles
 * ----------------------------------------------------------------------------------------------*/
footer.site-footer {
    background-color: var(--footerFill);
    padding: 3rem 0;
}
@media only screen and (min-width: 1440px) {
    footer.site-footer {
        padding: 5.7rem 0 3rem;
    }
}
footer.site-footer div.footer-logo {
    text-align: center;
}
/* Footer Menu */
div.footer-nav {
    padding: 0;
    margin: 1.5rem 0;
    text-align: center;
}
@media only screen and (min-width: 375px) {
    div.footer-nav {
        padding: 0 2rem;
    }
}
#menu_footer {
    list-style: none;
    padding-left: 1rem;
}
@media only screen and (min-width: 1440px) {
    #menu_footer {
        padding-left: 0;
    }
}
#menu_footer .menu_items {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    padding-left: 0;
    margin-bottom: 0;
}
#menu_footer .menu_items a {
    color: var(--grayColor1);
}
#menu_footer li {
    position: relative;
    display: inline-block;
    padding: 0 1.5rem 0 0;
}
@media only screen and (min-width: 1440px) {
    #menu_footer li {
        padding: 0 3.1rem 0 0;
    }
}
#menu_footer li:last-of-type {
    padding-right: 0;
}
#menu_footer li:hover a:before {
    color:  #FCE8A4;
}

/* Footer Peril Menu */
div.footer-peril-nav {
    padding: 0;
    margin: 0 0 1.5rem;
    text-align: center;
}
@media only screen and (min-width: 375px) {
    div.footer-peril-nav {
        padding: 0 2rem;
    }
}
#menu_footer_peril {
    list-style: none;
    padding-left: 1rem;
}
@media only screen and (min-width: 1440px) {
    #menu_footer_peril {
        padding-left: 0;
    }
}
#menu_footer_peril .menu_items {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 300;
    padding-left: 0;
    margin-bottom: 0;
}
#menu_footer_peril .menu_items a {
    color: var(--grayColor1);
}
#menu_footer_peril li {
    position: relative;
    display: inline-block;
    padding: 0 1.5rem 0 0;
}
@media only screen and (min-width: 1024px) {
    #menu_footer_peril li {
        padding: 0 2.7rem 0 0;
    }
}
@media only screen and (min-width: 1440px) {
    #menu_footer_peril li {
        padding: 0 3.7rem 0 0;
    }
}
#menu_footer_peril li:last-of-type {
    padding-right: 0;
}
#menu_footer_peril li:hover a:before {
    color:  #FCE8A4;
}
/* Footer Social Menu */
/** 'sr' stands for screen reader and is used for people with vision challenges **/
.sr-text,
.screen-reader-text {
    display: none;
}
div.footer-social-nav {
    padding: 0;
    margin: 2.5rem 0 3rem;
    text-align: center;
}
@media only screen and (min-width: 375px) {
    div.footer-social-nav {
        padding: 0 2rem;
    }
}
#menu_footer_social {
    list-style: none;
    padding-left: 1rem;
}
@media only screen and (min-width: 1440px) {
    #menu_footer_social {
        padding-left: 0;
    }
}
#menu_footer_social .menu_items {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 300;
    padding-left: 0;
    margin-bottom: 0;
}
#menu_footer_social .menu_items a {
    color: var(--grayColor1);
}
#menu_footer_social li {
    position: relative;
    display: inline-block;
    padding: 0 1.5rem 0 0;
}
@media only screen and (min-width: 1024px) {
    #menu_footer_social li {
        padding: 0 2.7rem 0 0;
    }
}
@media only screen and (min-width: 1440px) {
    #menu_footer_social li {
        padding: 0 3.7rem 0 0;
    }
}
#menu_footer_social li:last-of-type {
    padding-right: 0;
}
/* Set up the initial fa-icons on the list items */
#menu_footer_social li a::before {
    font-family: "Font Awesome 5 Brands";
    display: inline-block;
    vertical-align: top;
    padding: 0 .5rem;
    content: '\f16d';
    font-size: 2rem;
    font-weight: 400;
    color: var(--grayColor1);
    -webkit-font-smoothing: antialiased;
}
#menu_footer_social li a[href*="facebook.com"]::before {
    content: '\f39e'
}
#menu_footer_social li a[href*="twitter.com"]::before {
    content: '\f099'
}
#menu_footer_social li a[href*="youtube.com"]::before {
    content: '\f167'
}
#menu_footer_social li a[href*="podcasts.apple.com"]::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2ce'
}
#menu_footer_social li a[href*="wordpress.org"]::before {
    content: '\f19a'
}

#menu_footer_social li:hover a:before {
    color:  #FCE8A4;
}
/* EVERYTHING ABOVE HERE NEEDS TO BE VALIDATED AS REQUIRED */

/* Footer Copyright */
div.footer-info {
    margin-top: .5rem;
}
div.footer-copyright {
    margin-top: 2.5rem;
}
div.footer-copyright p, div.footer-info p {
    text-align: center;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 400;
}

/* ------------------------------------------------------------------------------------------------
   Program Links section
   ----------------------------------------------------------------------------------------------*/
#program_links > div.container {
    background-color: var(--white);
    padding: 1rem 0 0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.08);
    border-radius: .3rem;
    max-width: 100%;
}
#program_links div.row {
    margin-right: 0;
    margin-left: 0;
}
#program_links h1 {
    margin: 0 auto 1.1rem;
    color: var(--primaryBlue);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.514rem;
    letter-spacing: -0.4px;
}
div.prog-links {
    text-align: center;
}
div.prog-links > p {
    max-width: 83.3333%;
    margin: 0 auto 1rem;
}
@media only screen and (min-width: 1440px) {
    div.prog-links > p {
        max-width: 65%;
    }
}
@media only screen and (min-width: 1920px) {
    div.prog-links > p {
        max-width: 50%;
    }
}
div.prog-links > p > a {
    padding: .5rem 2rem;
    background-color: var(--grayColor1);
    color: var(--grayColor5);
    border-radius: .4rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    display: inline-block;
    width: 90%;
    margin: 0 auto 1.5rem;
}
@media only screen and (min-width: 768px) {
    div.prog-links > p > a {
        width: auto;
        margin: 0 2rem 1rem 0;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    div.prog-links > p > a:last-of-type {
        margin-right: 0;
    }
}
@media only screen and (min-width: 1200px) {
    div.prog-links > p > a {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}
div.prog-links > p > a.active {
    background-color: var(--primaryBlue);
    color: var(--white);
    font-weight: 700;
}
div.prog-links > p > a:hover {
    background-color: var(--primaryBlue);
    color: var(--white);
    text-decoration: none;
}
/* ------------------------------------------------------------------------------------------------
   Hero Content Styles
   ----------------------------------------------------------------------------------------------*/
#hero_content div.hero {
    background-color: #f0f3f4;
    border-radius: .3rem;
    height: 125px;
    margin-top: -.25rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    overflow-y: hidden;
}
@media only screen and (min-width: 375px) {
    #hero_content div.hero {
        height: 134px;
    }
}
@media only screen and (min-width: 412px) {
    #hero_content div.hero {
        height: 147px;
    }
}
@media only screen and (min-width: 428px) {
    #hero_content div.hero {
        height: 153px;
    }
}
@media only screen and (min-width: 600px) {
    #hero_content div.hero {
        height: 300px;
    }
}
@media only screen and (min-width: 768px) {
    #hero_content div.hero {
        height: 320px;
    }
}
@media only screen and (min-width: 1024px) {
    #hero_content div.hero {
        height: 405px;
    }
}
#hero_content div.hero #hero {
    height: inherit;
    overflow-y: hidden;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}
@media only screen and (min-width: 360px) {
    #hero_content div.hero #hero {
        height: calc(100vw * .5625);
    }
}
@media only screen and (min-width: 600px) {
    #hero_content div.hero #hero {
        height: calc(540px * .5625);
        background-size: cover;
        background-position: center;
    }
}
@media only screen and (min-width: 768px) {
    #hero_content div.hero #hero {
        height: calc(720px * .5625);
        background-position: -215px -64px;
    }
}
@media only screen and (min-width: 992px) {
    #hero_content div.hero #hero {
        height: calc(960px * .5625);
        background-position: -290px -80px;
    }
}
@media only screen and (min-width: 1200px) {
    #hero_content div.hero #hero {
        height: calc(1140px * .5625);
        background-size: 100%;
        background-position: center top;
    }
}
#hero_content div.content {
    overflow: hidden;
    background-color: var(--bgFill);
    border-radius: .3rem;
    /*display: flex;*/
    margin-top: -1.5rem;
    padding: 2.5rem 2rem;
}
@media only screen and (min-width: 375px) {
    #hero_content div.content {
        margin-top: -1.75rem;
    }
}
@media only screen and (min-width: 600px) {
    #hero_content div.content {
        margin-top: -3rem;
    }
    #hero_content div.content.inner {
        padding: 5.5rem .5rem 2.5rem;
    }
}
@media only screen and (min-width: 992px) {
    #hero_content div.content {
        padding: 3.5rem 7.3rem 6.5rem 8.6rem;
    }
    #hero_content div.content.inner {
        padding: 6.5rem 0;
    }
}
#hero_content div.strong-homes-content,
#hero_content div.hero-content {
    width: 100%;
}
#hero_content div.strong-homes-content {
    margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
    #hero_content div.strong-homes-content {
        margin-bottom: 3rem;
    }
}
#hero_content div.strong-homes-content h2,
#hero_content div.strong-homes-content h3 {
    color: var(--primaryBlue);
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 700;
    letter-spacing: -.4px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #hero_content div.strong-homes-content h2{
        font-size: 4.1rem;
        line-height: 5rem;
    }
}
@media only screen and (min-width: 992px) {
    #hero_content div.strong-homes-content h2 {
        font-size: 5.1rem;
        line-height: 6rem;
        text-align: left;
    }
    #hero_content div.strong-homes-content h3 {
        text-align: left;
    }
}
@media only screen and (min-width: 1200px) {
    #hero_content div.strong-homes-content h2 {
        font-size: 6.1rem;
        line-height: 6.1rem;
        margin-bottom: 2.5rem;
    }
    #hero_content div.strong-homes-content h3 {
        font-size: 5.5rem;
        line-height: 5.445rem;
        margin-bottom: 2.5rem;
    }
}
#hero_content div.strong-homes-content p {
    text-align: center;
    color: var(--grayColor7);
    font-size: 1.4rem;
    line-height: 2.2rem;
}
@media only screen and (min-width: 600px) {
    #hero_content div.strong-homes-content p {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}
@media only screen and (min-width: 992px) {
    #hero_content div.strong-homes-content p {
        text-align: left;
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin-bottom: 2rem;
    }
}
#hero_content div.hero-content h2,
#hero_content div.hero-content p {
    color: var(--grayColor5);
    text-align: center;
}
#hero_content div.hero-content h2 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    padding: 0;
}
@media only screen and (min-width: 768px) {
    #hero_content div.hero-content h2 {
        font-size: 2rem;
        line-height: 2.7rem;
        margin-bottom: 2rem;
        padding: 0 1.5rem;
    }
}
#hero_content div.hero-content p {
    font-size: 1.6rem;
    line-height: 2.3rem;
}
@media only screen and (min-width: 768px) {
    #hero_content div.hero-content p {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}
#hero_content div.recommend {
    padding: 0 1rem;
}
@media only screen and (min-width: 1200px) {
    #hero_content div.recommend {
        padding: 0 5.3rem;
    }
}
div.recommend > div.res-action {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
    div.recommend > div.res-action {
        flex-wrap: nowrap;
    }
}
div.res-action > div.icon,
div.res-action > div.action-text {
    flex-basis: 100%;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    div.res-action > div.icon {
        flex-basis: 10%;
        margin-right: 1.5rem;
        text-align: left;
    }
    div.res-action > div.action-text {
        flex-basis: 90%;
        text-align: left;
        margin: auto 0;
    }
}
div.res-action > div.action-text p {
    margin-bottom: 0;
    color: var(--primaryBlue);
    font-weight: 600;
    font-size: 1.6rem;
}
@media only screen and (min-width: 768px) {
    div.res-action > div.action-text p {
        font-size: 2rem;
    }
}
/*
 * CALL TO ACTION BANNER STYLES
 */
div.cta-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-position: top left;
    align-items: center;
    height: auto;
    padding: 2rem 1.5rem;
}
@media only screen and (min-width: 600px) {
    div.cta-wrapper {
        border-radius: 3px;
    }
}
@media only screen and (min-width: 768px) {
    div.cta-wrapper {
        flex-wrap: nowrap;
    }
}
@media only screen and (min-width: 1200px) {
    div.cta-wrapper {
        height: 157px;
        padding: 4rem;
        background-size: contain;
    }
}
div.cta-wrapper > div.cta-content {
    flex-basis: 100%;
    margin-bottom: 1rem;
}
@media only screen and (min-width: 992px) {
    div.cta-wrapper > div.cta-content {
        flex-basis: 75%;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 1200px) {
    div.cta-content {
        padding-left: 1.4rem;
        padding-right: 6rem;
    }
}
div.cta-wrapper > div.cta-action {
    flex-basis: 100%;
    text-align: center;
}
@media only screen and (min-width: 992px) {
    div.cta-wrapper > div.cta-action {
        flex-basis: 25%;
    }
}

div.cta-content > h3, div.cta-content > p, div.cta-action > a {
    color: var(--white);
}
div.cta-content > h3 {
    font-weight: 700;
    line-height: 2.6rem;
    font-size: 1.8rem;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    div.cta-content > h3 {
        text-align: left;
    }
}
@media only screen and (min-width: 992px) {
    div.cta-content > h3 {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}
@media only screen and (min-width: 1200px) {
    div.cta-content > h3 {
        font-size: 2.4rem;
        line-height: 2.7rem;
    }
}
div.cta-content > p {
    text-align: center;
}
@media only screen and (min-width: 768px) {
    div.cta-content > p {
        text-align: left;
    }
}
div.cta-action > a {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 4.6rem;
    padding: .9rem 3.8rem;
    background: var(--flashSecOrange);
    border-radius: 3px;
}
div.cta-action a:hover {
    background: var(--flashPurple);
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    div.cta-action > a {
        line-height: 2.6rem;
    }
}
/*
 * Beyond the Code Styles
 */
section.blue-check-bg {
    background-color: var(--flashBlue);
    background-image: url(../images/bc-grid.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3rem;
    padding-top: 3rem;
}
@media only screen and (min-width: 768px) {
    section.blue-check-bg {
        margin-bottom: 4.5rem;
        padding-top: 4.5rem;
    }
}
@media only screen and (min-width: 1200px) {
    section.blue-check-bg {
        padding-top: 5.8rem;
        margin-bottom: 6rem;
    }
}
div.strong-design {
    text-align: center;
    color: var(--white);
}
div.strong-design h2 {
    font-weight: 700;
    letter-spacing: -.4px;
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin-bottom: 1.5rem;
}
@media only screen and (min-width: 600px) {
    div.strong-design h2 {
        padding: 0 2rem;
    }
}
@media only screen and (min-width: 768px) {
    div.strong-design h2 {
        padding: 0;
    }
}
@media only screen and (min-width: 1200px) {
    div.strong-design h2 {
        font-size: 4.4rem;
        line-height: 5.531rem;
    }
}
div.strong-design p {
    padding: 0;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;
}
@media only screen and (min-width: 600px) {
    div.strong-design p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding: 0 2rem;
    }
}
@media only screen and (min-width: 768px) {
    div.strong-design p {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}
@media only screen and (min-width: 992px) {
    div.strong-design p {
        padding: 0 5rem;
    }
}
div.explain, div.house {
    position: relative;
}
div.explain > div {
    position: absolute;
    width: calc(100% - 30px);
    background-color: var(--white);
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.2rem;
}
@media only screen and (min-width: 600px) {
    div.explain > div {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}
@media only screen and (min-width: 768px) {
    div.explain > div {
        text-align: left;
        height: 90%;
        padding: 1.5rem;
        top: 8%;
    }
}
div.gold-standard {
    display: none;
    transition: all .3s ease-in-out;
}
div.gold-standard.show {
    display: block;
}
div.gold-standard > h3,
div.gold-intro > h3 {
    color: var(--flashRed);
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 3rem;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    div.gold-standard > h3,
    div.gold-intro > h3 {
        text-align: left;
    }
}
div.gold-standard > p,
div.gold-intro > p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--grayColor6);
}
@media only screen and (min-width: 600px) {
    div.gold-standard > p {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}
@media only screen and (min-width: 992px) {
    div.gold-standard > p {
        line-height: 2.4rem;
    }
}
div.house {
    background: transparent url(../images/house-v3.png) no-repeat center top;
    background-size: contain;
    height: 35rem;
    margin-bottom: 0;
}
@media only screen and (min-width: 412px) {
    div.house {
        margin-bottom: 2rem;
    }
}
@media only screen and (min-width: 600px) {
    div.house {
        margin-bottom: 3rem;
        height: 44rem;
    }
}
@media only screen and (min-width: 768px) {
    div.house {
        margin-bottom: 0;
        height: 45rem;
    }
}
@media only screen and (min-width: 992px) {
    div.house {
        height: 44rem;
    }
}
div.explain {
    height: 32rem;
}
@media only screen and (min-width: 600px) {
    div.explain {
        height: 24rem;
    }
}
@media only screen and (min-width: 768px) {
    div.explain {
        height: 42rem;
        padding-left: 3rem;
        padding-right: 0;
    }
}
@media only screen and (min-width: 992px) {
    div.explain {
        height: 40rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media only screen and (min-width: 1200px) {
    div.house,
    div.explain {
        height: 50rem;
    }
    div.house {
        margin-bottom: 4rem;
    }
    div.explain > div {
        position: absolute;
        height: 80%;
        margin: 18% auto 2%;
        padding: 6rem 4rem 0;
        top: 0;

    }
}
div.house > a.gs-toggle {
    display: block;
    height: 28px;
    width: 28px;
    background-image: url(../images/btn-open.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
}
@media only screen and (min-width: 600px) {
    div.house > a.gs-toggle {
        height: 34px;
        width: 34px;
    }
}
@media only screen and (min-width: 992px) {
    div.house > a.gs-toggle {
        height: 42px;
        width: 42px;
    }
}
div.house > a.gs-toggle.open {
    background-image: url(../images/btn-close.png);
}

/* Button positioning */
/* Roof Deck Attachment */
div.house > a.gs-toggle.rda {
    left: 128px;
    top: 75px;
}
/* Sealed roof deck */
div.house > a.gs-toggle.srd {
    left: 39px;
    top: 88px;
}
/* locked-down roof edges */
div.house > a.gs-toggle.ldre {
    left: 8px;
    top: 112px;
}
/* Impact-resistant shingles */
div.house > a.gs-toggle.irs {
    right: 64px;
    top: 35px;
}
/* Wind and Rain Resistant Attic Vents */
div.house > a.gs-toggle.wrrav {
    left: 211px;
    top: 39px;
}
/* Impact protection for windows and doors */
div.house > a.gs-toggle.ipwd {
    left: 152px;
    bottom: 78px;
}
/* Garage Doors */
div.house > a.gs-toggle.iprgd {
    right: 35px;
    bottom: 81px;
}
/* Chimney Bracing */
div.house > a.gs-toggle.cb {
    left: 149px;
    top: 28px;
}
/* Reinforced Soffits */
div.house > a.gs-toggle.rs {
    right: 49px;
    bottom: 150px;
}
/* Anchored Attached Structures */
div.house > a.gs-toggle.aas {
    left: 171px;
    top: 128px;
}
/* Gable End Bracing */
div.house > a.gs-toggle.geb {
    left: 76px;
    top: 74px;
}
/* Pressure-rated windows and doors */
div.house > a.gs-toggle.prwd {
    left: 76px;
    top: 134px;
}
/* Exterior Sheathing */
div.house > a.gs-toggle.ses {
    right: 82px;
    top: 89px;
}
/* Eng. Roof-to-Wall connections */
div.house > a.gs-toggle.ertwc {
    right: 41px;
    top: 88px;
}
/* Story-to-Story Connections */
div.house > a.gs-toggle.estsc {
    left: 181px;
    top: 154px;
}
/* wall-to-foundation connections */
div.house > a.gs-toggle.ewtfc {
    bottom: 54px;
    left: 9px;
}
@media only screen and (min-width: 375px) {
    div.house >a.gs-toggle.rda {
        left: 134px;
        top: 77px;
    }
    div.house > a.gs-toggle.srd {
        left: 44px;
        top: 90px;
    }
    div.house > a.gs-toggle.ldre {
        left: 7px;
        top: 117px;
    }
    div.house > a.gs-toggle.irs {
        right: 69px;
        top: 35px;
    }
    div.house > a.gs-toggle.wrrav {
        left: 220px;
        top: 39px;
    }
    div.house > a.gs-toggle.ipwd {
        left: 158px;
        bottom: 67px;
    }
    div.house > a.gs-toggle.iprgd {
        right: 37px;
        bottom: 70px;
    }
    div.house > a.gs-toggle.cb {
        left: 156px;
        top: 32px;
    }
    div.house > a.gs-toggle.rs {
        right: 49px;
        bottom: 141px;
    }
    div.house > a.gs-toggle.aas {
        left: 177px;
        top: 134px;
    }
    div.house > a.gs-toggle.geb {
        left: 80px;
        top: 78px;
    }
    div.house > a.gs-toggle.prwd {
        left: 80px;
        top: 138px;
    }
    div.house > a.gs-toggle.ertwc {
        right: 44px;
        top: 96px;
    }
    div.house > a.gs-toggle.estsc {
        left: 190px;
        top: 162px;
    }
    div.house > a.gs-toggle.ewtfc {
        bottom: 44px;
        left: 9px;
    }
}
@media only screen and (min-width: 412px) {
    div.house >a.gs-toggle.rda {
        left: 151px;
        top: 85px;
    }
    div.house > a.gs-toggle.srd {
        left: 51px;
        top: 98px;
    }
    div.house > a.gs-toggle.ldre {
        left: 12px;
        top: 130px;
    }
    div.house > a.gs-toggle.irs {
        right: 74px;
        top: 42px;
    }
    div.house > a.gs-toggle.wrrav {
        left: 243px;
        top: 41px;
    }
    div.house > a.gs-toggle.ipwd {
        left: 175px;
        bottom: 39px;
    }
    div.house > a.gs-toggle.iprgd {
        right: 41px;
        bottom: 44px;
    }
    div.house > a.gs-toggle.cb {
        left: 173px;
        top: 37px;
    }
    div.house > a.gs-toggle.rs {
        right: 60px;
        bottom: 123px;
    }
    div.house > a.gs-toggle.aas {
        left: 196px;
        top: 150px;
    }
    div.house > a.gs-toggle.geb {
        left: 90px;
        top: 86px;
    }
    div.house > a.gs-toggle.prwd {
        left: 89px;
        top: 155px;
    }
    div.house > a.gs-toggle.ses {
        right: 92px;
        top: 106px;
    }
    div.house > a.gs-toggle.ertwc {
        right: 49px;
        top: 105px;
    }
    div.house > a.gs-toggle.estsc {
        left: 204px;
        top: 179px;
    }
    div.house > a.gs-toggle.ewtfc {
        bottom: 13px;
        left: 9px;
    }
}
@media only screen and (min-width: 428px) {
    div.house >a.gs-toggle.rda {
        left: 158px;
        top: 88px;
    }
    div.house > a.gs-toggle.srd {
        left: 56px;
        top: 101px;
    }
    div.house > a.gs-toggle.ldre {
        left: 12px;
        top: 135px;
    }
    div.house > a.gs-toggle.irs {
        right: 80px;
        top: 42px;
    }
    div.house > a.gs-toggle.wrrav {
        left: 253px;
        top: 44px;
    }
    div.house > a.gs-toggle.ipwd {
        left: 182px;
        bottom: 25px;
    }
    div.house > a.gs-toggle.iprgd {
        right: 43px;
        bottom: 32px;
    }
    div.house > a.gs-toggle.cb {
        left: 180px;
        top: 40px;
    }
    div.house > a.gs-toggle.rs {
        right: 60px;
        bottom: 114px;
    }
    div.house > a.gs-toggle.aas {
        left: 203px;
        top: 156px;
    }
    div.house > a.gs-toggle.geb {
        left: 94px;
        top: 89px;
    }
    div.house > a.gs-toggle.prwd {
        left: 93px;
        top: 161px;
    }
    div.house > a.gs-toggle.ertwc {
        right: 52px;
        top: 108px;
    }
    div.house > a.gs-toggle.estsc {
        left: 219px;
        top: 187px;
    }
    div.house > a.gs-toggle.ewtfc {
        bottom: 1px;
        left: 9px;
    }
}
@media only screen and (min-width: 600px) {
    div.house >a.gs-toggle.rda {
        left: 201px;
        top: 112px;
    }
    div.house > a.gs-toggle.srd {
        left: 68px;
        top: 130px;
    }
    div.house > a.gs-toggle.ldre {
        left: 12px;
        top: 163px;
    }
    div.house > a.gs-toggle.irs {
        right: 102px;
        top: 56px;
    }
    div.house > a.gs-toggle.wrrav {
        left: 320px;
        top: 55px;
    }
    div.house > a.gs-toggle.ipwd {
        left: 232px;
        bottom: 35px;
    }
    div.house > a.gs-toggle.iprgd {
        right: 55px;
        bottom: 41px;
    }
    div.house > a.gs-toggle.cb {
        left: 228px;
        top: 52px;
    }
    div.house > a.gs-toggle.rs {
        right: 80px;
        bottom: 144px;
    }
    div.house > a.gs-toggle.aas {
        left: 255px;
        top: 196px;
    }
    div.house > a.gs-toggle.geb {
        left: 120px;
        top: 113px;
    }
    div.house > a.gs-toggle.prwd {
        left: 118px;
        top: 203px;
    }
    div.house > a.gs-toggle.ses {
        right: 123px;
        top: 135px;
    }
    div.house > a.gs-toggle.ertwc {
        right: 67px;
        top: 139px;
    }
    div.house > a.gs-toggle.estsc {
        left: 280px;
        top: 236px;
    }
    div.house > a.gs-toggle.ewtfc {
        bottom: 1px;
        left: 17px;
    }
}
@media only screen and (min-width: 768px) {
    div.house >a.gs-toggle.rda {
        left: 129px;
        top: 70px;
    }
    div.house > a.gs-toggle.srd {
        left: 40px;
        top: 79px;
    }
    div.house > a.gs-toggle.ldre {
        left: 0px;
        top: 104px;
    }
    div.house > a.gs-toggle.irs {
        right: 60px;
        top: 28px;
    }
    div.house > a.gs-toggle.wrrav {
        left: 208px;
        top: 34px;
    }
    div.house > a.gs-toggle.ipwd {
        left: 148px;
        bottom: 170px;
    }
    div.house > a.gs-toggle.iprgd {
        right: 27px;
        bottom: 173px;
    }
    div.house > a.gs-toggle.cb {
        left: 145px;
        top: 28px;
    }
    div.house > a.gs-toggle.rs {
        right: 48px;
        bottom: 246px;
    }
    div.house > a.gs-toggle.aas {
        left: 169px;
        top: 125px;
    }
    div.house > a.gs-toggle.geb {
        left: 72px;
        top: 74px;
    }
    div.house > a.gs-toggle.prwd {
        left: 73px;
        top: 131px;
    }
    div.house > a.gs-toggle.ses {
        right: 75px;
        top: 83px;
    }
    div.house > a.gs-toggle.ertwc {
        right: 38px;
        top: 89px;
    }
    div.house > a.gs-toggle.estsc {
        left: 186px;
        top: 152px;
    }
    div.house > a.gs-toggle.ewtfc {
        bottom: 150px;
        left: 5px;
    }
}
@media only screen and (min-width: 992px) {
    div.house >a.gs-toggle.rda {
        left: 173px;
        top: 91px;
    }
    div.house > a.gs-toggle.srd {
        left: 55px;
        top: 108px;
    }
    div.house > a.gs-toggle.ldre {
        left: 0px;
        top: 140px;
    }
    div.house > a.gs-toggle.irs {
        right: 82px;
        top: 40px;
    }
    div.house > a.gs-toggle.wrrav {
        left: 279px;
        top: 46px;
    }
    div.house > a.gs-toggle.ipwd {
        left: 200px;
        bottom: 73px;
    }
    div.house > a.gs-toggle.iprgd {
        right: 40px;
        bottom: 78px;
    }
    div.house > a.gs-toggle.cb {
        left: 196px;
        top: 38px;
    }
    div.house > a.gs-toggle.rs {
        right: 62px;
        bottom: 170px;
    }
    div.house > a.gs-toggle.aas {
        left: 226px;
        top: 169px;
    }
    div.house > a.gs-toggle.geb {
        left: 100px;
        top: 97px;
    }
    div.house > a.gs-toggle.prwd {
        left: 99px;
        top: 176px;
    }
    div.house > a.gs-toggle.ses {
        right: 104px;
        top: 112px;
    }
    div.house > a.gs-toggle.ertwc {
        right: 53px;
        top: 117px;
    }
    div.house > a.gs-toggle.estsc {
        left: 246px;
        top: 204px;
    }
    div.house > a.gs-toggle.ewtfc {
        bottom: 42px;
        left: 5px;
    }
}
@media only screen and (min-width: 1200px) {
    div.house > a.gs-toggle.ewtfc {
        bottom: 32px;
        left: 15px;
    }
    div.house > a.gs-toggle.rda {
        left: 209px;
        top: 113px;
    }
    div.house > a.gs-toggle.irs {
        right: 104px;
        top: 52px;
    }
    div.house > a.gs-toggle.srd {
        left: 70px;
        top: 135px;
    }
    div.house > a.gs-toggle.ldre {
        left: 12px;
        top: 171px;
    }
    div.house > a.gs-toggle.wrrav {
        left: 335px;
        top: 56px;
    }
    div.house > a.gs-toggle.ipwd {
        left: 242px;
        bottom: 70px;
    }
    div.house > a.gs-toggle.iprgd {
        right: 52px;
        bottom: 73px;
    }
    div.house > a.gs-toggle.cb {
        left: 237px;
        top: 51px;
    }
    div.house > a.gs-toggle.rs {
        right: 80px;
        bottom: 184px;
    }
    div.house > a.gs-toggle.aas {
        left: 268px;
        top: 205px;
    }
    div.house > a.gs-toggle.geb {
        left: 123px;
        top: 120px;
    }
    div.house > a.gs-toggle.prwd {
        left: 121px;
        top: 212px;
    }
    div.house > a.gs-toggle.ses {
        right: 124px;
        top: 120px;
    }
    div.house > a.gs-toggle.ertwc {
        right: 67px;
        top: 146px;
    }
    div.house > a.gs-toggle.estsc {
        left: 290px;
        top: 246px;
    }
}
/* Projects section */
#projects {
    margin-top: 3rem;
}
@media only screen and (min-width: 992px) {
    #projects {
        margin-top: 4rem;
        padding-bottom: 6rem;
    }
}
@media only screen and (min-width: 1200px) {
    #projects {
        margin-top: 6rem;
        padding-bottom: 8.5rem;
    }
}
#projects h2 {
    color: var(--primaryBlue);
    font-weight: 700;
    letter-spacing: -.4px;
    text-align: center;
    font-size: 2.8rem;
    line-height: 3.8rem;
}
@media only screen and (min-width: 992px) {
    #projects h2 {
        font-size: 3.4rem;
        line-height: 4.4rem;
    }
}
@media only screen and (min-width: 1200px) {
    #projects h2 {
        font-size: 4rem;
        line-height: 5rem;
    }
}
div.rebuild p {
    color: var(--grayColor5);
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
@media only screen and (min-width: 600px) {
    div.rebuild p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 3rem;
    }
}
@media only screen and (min-width: 992px) {
    div.rebuild p {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}
/* Hack for wordpress content editor empty first p */
div.rebuild p:first-of-type {
    margin-bottom: 1.5rem;
}
@media only screen and (min-width: 1200px) {
    div.rebuild p {
        padding: 0 10rem;
    }
}
/* Sliders */
#project_slider,
#project_slider > div.rsOverflow,
#project_slider div.rsSlide {
    background: #f1f1f1;
    color: var(--grayColor7);
}
#project_slider {
    max-width: 300px;
    margin: 0 auto 4rem;
}
@media only screen and (min-width: 412px) {
    #project_slider {
        max-width: 360px;
    }
}
@media only screen and (min-width: 600px) {
    #project_slider {
        max-width: 100%;
    }
}
@media only screen and (min-width: 1200px) {
    #project_slider {
        margin-bottom: 4rem;
    }
}
#project_slider > div.rsOverflow {
    overflow: visible;
}
#project_slider > div.rsOverflow > div.rsArrowLeft {
    left: -60px;
}
#project_slider > div.rsOverflow > div.rsArrowRight {
    right: -60px;
}
#project_slider > div.rsNav.rsBullets {
    bottom: -25px;
    background: transparent;
}
#project_slider div.rsNav .rsBullet {
    margin-right: 5px;
    cursor: pointer;
}
@media only screen and (min-width: 1200px) {
    #project_slider div.rsNav .rsBullet {
        margin-right: 9px;
    }
}
#project_slider div.rsNav .rsBullet span {
    background-color: #c4c4c4;
}
#project_slider div.rsNav .rsBullet.rsNavSelected span {
    background-color: var(--flashBlue);
}
#project_slider div.rsNav .rsBullet span {
    width: 10px;
    height: 10px;
}
@media only screen and (min-width: 1200px) {
    #project_slider div.rsNav .rsBullet span {
        width: 13px;
        height: 13px;
    }
}
#project_slider div.seo-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.project-desc {
    max-width: 300px;
    margin: 0 auto 4rem;
}
@media only screen and (min-width: 600px) {
    .project-desc {
        max-width: 100%;
    }
}
.project-desc h3 {
    color: #000;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.765rem;
    letter-spacing: -.4px;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .project-desc h3 {
        text-align: left;
    }
}
.project-desc p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: center;
    color: var(--grayColor7);
}
@media only screen and (min-width: 600px) {
    .project-desc p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: left;
    }
}
@media only screen and (min-width: 992px) {
    .project-desc p {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}
/* Projects wrapper nav */
.row.fp_projects_wrapper {
    position: relative;
}
.row.fp_projects_wrapper .prjNav {
    position: absolute;
    top: 0;
}
.prjNav .prjArrow {
    position: absolute;
    display: block;
    height: 100%;
    width: 22px;
}
@media only screen and (min-width: 600px) {
    .prjNav .prjArrow {
        width: 33px;
    }
}
@media only screen and (min-width: 768px) {
    .prjNav .prjArrow {
        width: 44px;
    }
}
.prjNav .prjArrowLeft {
    left: 0px;
}
.prjNav .prjArrowRight {
    right: 0px;
}
@media only screen and (min-width: 412px) {
    .prjNav .prjArrowLeft {
        left: 4px;
    }
    .prjNav .prjArrowRight {
        right: 4px;
    }
}
@media only screen and (min-width: 600px) {
    .prjNav .prjArrowLeft {
        left: -32px;
    }
    .prjNav .prjArrowRight {
        right: -32px;
    }
}
@media only screen and (min-width: 768px) {
    .prjNav .prjArrowLeft {
        left: -60px;
    }
    .prjNav .prjArrowRight {
        right: -60px;
    }
}
.prjNav .prjArrowIcn {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    top: 50%;
    cursor: pointer;
    overflow: hidden;
}
@media only screen and (min-width: 600px) {
    .prjNav .prjArrowIcn {
        width: 24px;
        height: 24px;
    }
}
@media only screen and (min-width: 768px) {
    .prjNav .prjArrowIcn {
        width: 32px;
        height: 32px;
    }
}
.prjArrowLeft .prjArrowIcn {
    right: 0;
}
.prjArrowIcn span {
    display: block;
    width: 100%;
    height: 100%;
    border-left: 2px solid var(--flashBlue);
    border-top: 2px solid var(--flashBlue);
}
.prjArrowDisabled .prjArrowIcn {
    cursor: initial;
}
.prjArrowDisabled .prjArrowIcn span {
    opacity: 0.15;
}
.prjArrowLeft .prjArrowIcn span {
    transform: rotate(-45deg);
    margin-left: 8px;
}
.prjArrowRight .prjArrowIcn span {
    transform: rotate(135deg);
    margin-left: -8px;
}
@media only screen and (min-width: 768px) {
    .prjArrowLeft .prjArrowIcn span {
        margin-left: 16px;
    }
    .prjArrowRight .prjArrowIcn span {
        margin-left: -16px;
    }
}
/* Donors Page */
#donor_info {
    margin-bottom: 7rem;
}
@media only screen and (min-width: 600px) {
    #donor_info {
        margin-bottom: 9rem;
    }
}
@media only screen and (min-width: 992px) {
    #donor_info {
        margin-bottom: 16rem;
    }
}
@media only screen and (min-width: 1200px) {
    #donor_info {
        margin-bottom: 20.1rem;
    }
}
div.di-content {
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width: 1200px) {
    div.di-content {
        padding-left: 6.6rem;
        padding-right: 11.6rem;
        margin-bottom: 2rem;
    }
    div.di-contact {
        padding-left: 8.6rem;
        padding-right: 10%;
    }
}
div.di-content > div.participate {
    flex-basis: 80%;
    margin: 0 auto 2rem;
    padding: 0 3.5rem;
}
@media only screen and (min-width: 600px) {
    div.di-content > div.participate {
        padding: 0 3.5rem;
    }
}
@media only screen and (min-width: 992px) {
    div.di-content > div.participate {
        flex-basis: 40%;
        padding: 0;
        margin-bottom: 1.5rem;
    }
}
div.di-content > div.participate h4,
div.di-content > div.participate p {
    text-align: left;
}
div.di-content > div.participate img {
    max-width: 100%;
    border-radius: 3px;
    margin-bottom: .5rem;
    box-shadow: 2px 3px 3px rgba(0,0,0,.5);
}
@media only screen and (min-width: 600px) {
    div.di-content > div.participate img {
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 768px) {
    div.di-content > div.participate img {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}
div.di-content > div.participate h4 {
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--flashSecOrange);
    margin-bottom: 0;
}
div.di-content > div.participate p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--grayColor7);
}
@media only screen and (min-width: 600px) {
    div.di-content > div.participate p {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}
@media only screen and (min-width: 768px) {
    div.di-content > div.participate p {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}
div.contact-cta {
    text-align: center;
    margin-top: 3rem;
}
@media only screen and (min-width: 1200px) {
    div.contact-cta {
        margin-top: 6.7rem;
    }
}
div.di-contact h3 {
    font-weight: 700;
    color: var(--flashBlue);
    letter-spacing: -.4px;
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.4rem;
    margin-bottom: 4rem;
}
@media only screen and (min-width: 600px) {
    div.di-contact h3 {
        font-size: 2.4rem;
        line-height: 2.6rem;
    }
}
@media only screen and (min-width: 992px) {
    div.di-contact {
        margin-top: 3rem;
    }
    div.di-contact h3 {
        font-size: 2.7rem;
        margin-bottom: 6rem;
    }
}
div.contact-cta a {
    background-color: var(--flashSecOrange);
    color: var(--white);
    border-radius: 3px;
    padding: 1rem 4.5rem;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.2rem;
}
@media only screen and (min-width: 992px) {
    div.contact-cta a {
        font-size: 2.6rem;
        line-height: 2.6rem;
        padding: 1.8rem 4.5rem;
    }
}
div.contact-cta a:hover {
    text-decoration: none;
    background-color: var(--flashPurple);
}
/* Default page template HERO */
.page-template-default #hero_content {
    min-height: 500px;
}
@media only screen and (min-width: 992px) {
    .page-template-default #hero_content {
        min-height: 800px;
    }
}
/* CONTACT FORM */
.page-template-donor-contact #hero_content div.content {
    box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    margin-bottom: 2rem;
}
@media only screen and (min-width: 1200px) {
    .page-template-donor-contact #hero_content div.content {
        margin-top: -6rem;
    }
}
#contact_form {
    margin-bottom: 6rem;
}
@media only screen and (min-width: 992px) {
    #contact_form {
        margin-bottom: 12rem;
    }
}
#contact_form div.form-content {
    background: var(--white);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 2rem 1rem;
}
@media only screen and (min-width: 375px) {
    #contact_form div.form-content {
        padding: 2rem;
    }
}
@media only screen and (min-width: 600px) {
    #contact_form div.form-content {
        padding: 2rem 4rem;
    }
}
@media only screen and (min-width: 768px) {
    #contact_form div.form-content {
        box-shadow: 0 2px 3px rgba(0,0,0,.08);
        border: 2px solid var(--grayColor1);
    }
}
@media only screen and (min-width: 992px) {
    #contact_form div.form-content {
        padding: 4rem 6rem;
    }
}
@media only screen and (min-width: 1200px) {
    #contact_form div.form-content {
        padding: 5.5rem 7.5rem;
    }
}
@media only screen and (min-width: 1440px) {
    #contact_form div.form-content {
        padding: 7rem 9.7rem;
    }
}
#contact_form div.form-content h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--primaryBlue);
    font-weight: 700;
    letter-spacing: -.4px;
    font-size: 2.6rem;
    line-height: 3.4rem;
    padding-bottom: 1rem;
}
@media only screen and (min-width: 600px) {
    #contact_form div.form-content h2 {
        margin-bottom: 2rem;
    }
}
@media only screen and (min-width: 1024px) {
    #contact_form div.form-content h2 {
        margin-bottom: 3rem;
    }
}
@media only screen and (min-width: 1440px) {
    #contact_form div.form-content h2 {
        font-size: 4rem;
        line-height: 4.6rem;
    }
}

div.field-set-radio-group {
    width: 100%;
}
@media only screen and (min-width: 1024px) {
    div.field-set-radio-group {
        padding: 0 2rem 3rem;
    }
    div.field-set-radio-group:first-of-type {
        padding-top: 3rem;
    }
}
@media only screen and (min-width: 1280px) {
    div.field-set-radio-group {
        padding: 0 3.5rem 4rem;
    }
    div.field-set-radio-group:first-of-type {
        padding-top: 4rem;
    }
}
@media only screen and (min-width: 1440px) {
    div.field-set-radio-group {
        padding: 0 7rem 6rem;
    }
    div.field-set-radio-group:first-of-type {
        padding-top: 6rem;
    }
}
div.field-set-radio-group fieldset {
    margin-bottom: 1rem;
}
div.field-set-radio-group legend {
    display: block;
    width: 62.5%;
    margin-right: 5%;
    float: left;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #292d2f;
}
@media only screen and (min-width: 768px) {
    div.field-set-radio-group legend {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}
@media only screen and (min-width: 1440px) {
    div.field-set-radio-group legend {
        width: 75%;
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin-right: 0;
    }
}
div.field-set-radio-group div {
    display: inline-block;
    width: 15%;
    text-align: center;
}
@media only screen and (min-width: 1440px) {
    div.field-set-radio-group div {
        width: 10%;
    }
}
div.field-set-radio-group div label {
    font-size: 1.4rem;
    line-height: 2rem;
}
@media only screen and (min-width: 768px) {
    div.field-set-radio-group div label {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}
div.contest-rules,
div.input-centered {
    margin-bottom: 1rem;
}
div.input-centered {
    text-align: left;
}
@media only screen and (min-width: 768px) {
    div.input-centered {
        text-align: center;
    }
}
div.contest-rules h3 {
    color: var(--primaryBlue);
    font-weight: 700;
    letter-spacing: -.4px;
    font-size: 2.2rem;
    line-height: 2.8rem;
}
@media only screen and (min-width: 768px) {
    div.contest-rules h3 {
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin-bottom: 1.5rem;
    }
}
@media only screen and (min-width: 1440px) {
    div.contest-rules h3 {
        font-size: 2.6rem;
        line-height: 3.7rem;
    }
}
div.contest-rules p,
div.contest-rules a {
    color: #292d2f;
    font-size: 1.4rem;
    line-height: 2.4rem;
}
@media only screen and (min-width: 768px) {
    div.contest-rules p,
    div.contest-rules a {
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }
}
@media only screen and (min-width: 1440px) {
    div.contest-rules p,
    div.contest-rules a {
        line-height: 2.6rem;
    }
}
div.contest-rules a {
    color: var(--primaryBlue);
    text-decoration: underline;
}
@media only screen and (min-width: 1024px) {
    div.field-row {
        margin-bottom: 2rem;
    }
}
@media only screen and (min-width: 1440px) {
    div.field-row {
        margin-bottom: 3rem;
    }
}
div.field-row label {
    display: none;
}
div.field-row input {
    margin-right: 0;
}
@media only screen and (min-width: 768px) {
    div.field-row input {
        margin-right: 1rem;
    }
    div.field-row input:last-of-type {
        margin-right: 0;
    }
}
@media only screen and (min-width: 1024px) {
    div.field-row input {
        margin-right: 2rem;
    }
}
@media only screen and (min-width: 1280px) {
    div.field-row input {
        margin-right: 3rem;
    }
}

div.field-row input.one-two,
div.field-row input.one-four,
div.field-row input.three-four,
div.field-row input.three-five,
div.field-row input.two-five,
div.field-row input.input-full {
    width: 100%;
    margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
    div.field-row input.one-two {
        width: 47%;
    }
    div.field-row input.one-four {
        width: 25%;
    }
    div.field-row input.three-four {
        width: 69%;
    }
    div.field-row input.three-five {
        width: 54%;
    }
    div.field-row input.two-five {
        width: 40%;
    }
}

div.field-row input {
    background: #eeeeee;
    border: 1px solid #94989B;
    border-radius: 3px;
}
div.field-row input[type=text],
div.field-row input[type=email],
div.field-row select {
    color: var(--grayColor5);
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding: .9rem 1.4rem;
}
@media only screen and (min-width: 1024px) {
    div.field-row input[type=text],
    div.field-row input[type=email],
    div.field-row select {
        padding: 1.4rem 1.7rem;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}
@media only screen and (min-width: 1440px) {
    div.field-row input[type=text],
    div.field-row input[type=email],
    div.field-row select {
        padding: 2rem 1.7rem;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}
div.input-centered.enter-contest {
    padding-top: 3rem;
    text-align: center;
}
div.input-centered input[type="submit"] {
    background: #00AAD5;
    border-radius: 3px;
    border-style: none;
    color: var(--white);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.6rem;
    padding: .9rem 2.7rem;
}
@media only screen and (min-width: 1440px) {
    div.input-centered input[type="submit"] {
        padding: 1.6rem 4.5rem;
        font-size: 2rem;
        line-height: 3.8rem;
    }
}
div.field-set-radio-group input[type=radio],
div.input-centered input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
}
div.field-set-radio-group span.checkmark,
div.input-centered span.checkmark {
    display: inline-block;
    vertical-align: sub;
    margin-right: .4rem;
    background-color: #eeeeee;
    border: 1px solid #94989b;
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
}
div.input-centered span.checkmark {
    border-radius: 0;
    margin-right: 1rem;
}
@media only screen and (min-width: 1440px) {
    div.field-set-radio-group input[type=radio],
    div.field-set-radio-group span.checkmark,
    div.input-centered input[type=checkbox],
    div.input-centered span.checkmark {
        height: 2.4rem;
        width: 2.4rem;
    }
    div.field-set-radio-group span.checkmark,
    div.input-centered span.checkmark {
        vertical-align: middle;
    }

}
div.field-set-radio-group input[type=radio]:hover ~ .checkmark,
div.field-set-radio-group input[type=radio]:checked ~ .checkmark,
div.input-centered input[type=checkbox]:hover ~ .checkmark,
div.input-centered input[type=checkbox]:checked ~ .checkmark {
    background-color: var(--primaryBlue);
    border: 1px solid var(--primaryBlue);
}
div.spec-modal {
    position: absolute;
    top: 2rem;
    left: -52%;
    width: 140%;
    height: 85%;
    background: var(--white);
    box-shadow: 0 0 7px rgba(0,0,0,0.25);
    border-radius: 3px;
    display: none;
    transition: all .3s ease-in;
}
div.spec-modal.show {
    display: block;
}
@media only screen and (min-width: 1440px) {
    div.spec-modal {
        top: 2rem;
        left: -52%;
        width: 140%;
        height: 85%;
    }
}
div.fs-container.sweeps div.spec-modal-close > p {
    text-align: right;
    padding-right: 1.3rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--grayColor5);
    margin-bottom: 0;
}
div.fs-container.sweeps div.spec-modal-close > p a {
    cursor: pointer;
}
div.fs-container.sweeps div.spec-modal-content {
    padding: 0 2rem;
}
div.fs-container.sweeps div.spec-modal-content h4 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    color: var(--primaryBlue);
}
div.fs-container.sweeps div.spec-modal-content ul {
    list-style-type: none;
    padding-left: 0;
}
div.fs-container.sweeps div.spec-modal-content ul li {
    color: var(--grayColor5);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
}
#damn_drop_down {
    position: relative;
}
#damn_drop_down > select {
    position: absolute;
    border: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 1px solid #94989B;
    background: #eee;
    width: 6.5rem;
    padding: .9rem 1.4rem;
    top: 1px;
    left: 100%;
    margin-left: -6.6rem;
}
@media only screen and (min-width: 768px) {
    #damn_drop_down > select {
        left: 54%;
    }
}
@media only screen and (min-width: 1024px) {
    #damn_drop_down > select {
        width: 8rem;
        padding: 1.37rem 1.7rem;
        margin-left: -8.1rem;
    }
}
@media only screen and (min-width: 1440px) {
    #damn_drop_down > select {
        width: 8rem;
        padding: 1.97rem 1.7rem;
        margin-left: -8.1rem;
    }

}
#damn_drop_down > select option {
    font-weight: 400;
}
#donor_ty {
    margin-bottom: 4rem;
}
@media only screen and (min-width: 1200px) {
    #donor_ty {
        margin-bottom: 12rem;
    }
}
div.donor-ty {
    margin-bottom: 4rem;
}
div.donor-ty h2 {
    color: var(--primaryBlue);
    font-weight: 700;
    letter-spacing: -.4px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 2.8rem;
    line-height: 3.2rem;
}
div.donor-ty h2 > span {
    background-color: var(--bgFill);
}
@media only screen and (min-width: 768px) {
    div.donor-ty h2 {
        font-size: 4rem;
        line-height: 4.6rem;
    }
}
@media only screen and (min-width: 992px) {
    div.donor-ty h2 {
        width: 95%;
        background-image: url(../images/hr.png);
        background-repeat: repeat-x;
        background-position: left 25px;
        background-size: 2px;
    }
    div.donor-ty h2 > span {
        padding: 0 18px;
    }
}
@media only screen and (min-width: 1200px) {
    div.donor-ty h2 {
        width: 85%;
    }
}
div.state-label {
    border-bottom: 2px solid var(--grayColor2);
    margin-bottom: 2.5rem;
}
@media only screen and (min-width: 1200px) {
    div.state-label {
        margin-top: 3.6rem;
    }
}
div.state-label h3 {
    color: var(--primaryBlue);
    font-weight: 700;
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.4rem;
}
@media only screen and (min-width: 992px) {
    div.state-label h3 {
        font-size: 2.7rem;
        line-height: 4rem;
    }
}
div.state-donor {
    margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
    div.state-donor {
        margin-bottom: 3rem;
    }
}
@media only screen and (min-width: 992px) {
    div.state-donor {
        margin-bottom: 3.7rem;
    }
}
#donor_ty div.row > div.state-donor:last-of-type {
    margin-bottom: 5rem;
}
div.state-donor h4 {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--grayColor7);
}
@media only screen and (min-width: 768px) {
    div.state-donor h4 {
        font-size: 1.8rem;
    }
}
@media only screen and (min-width: 992px) {
    div.state-donor h4 {
        font-size: 2rem;
        line-height: 2.4rem;
    }
}
div.state-donor h4 > a {
    color: var(--grayColor7);
    text-decoration: underline;
}
div.state-donor h4 > a:hover {
    text-decoration: none;
}
/* Video Page Styles */
#video_wraps {
    margin-bottom: 5rem;
}
@media only screen and (min-width: 1200px) {
    #video_wraps {
        margin-bottom: 10rem;
    }
}
#video_wraps div.video-dropdown:first-of-type {
    margin-top: 0;
}
div.video-dropdown {
    border: 2px solid #c4c4c4;
    border-radius: 3px;
    background: var(--white);
    box-shadow: 0 2px 3px rgba(0,0,0,0.08);
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding: 1rem 1.5rem;
}
@media only screen and (min-width: 768px) {
    div.video-dropdown {
        padding: 15px 20px;
    }
}
@media only screen and (min-width: 992px) {
    div.video-dropdown {
        padding: 16px 12px 17px 20px;
    }
}
@media only screen and (min-width: 1200px) {
    div.video-dropdown {
        margin-top: 3.5rem;
        padding: 32px 24px 34px 39.4px;
    }
}
div.video-icon {
    flex-basis: 10%;
    content: '';
    background: #000000;
    width: 50px;
    height: 26px;
    margin-right: 10px;
    background: url(../images/vid-icon.png) no-repeat left center;
    background-size: contain;
}
@media only screen and (min-width: 600px) {
    div.video-icon {
        margin-right: 15px;
        height: 37px;
    }
}
@media only screen and (min-width: 992px) {
    div.video-icon {
        flex-basis: 5%;
    }
}
@media only screen and (min-width: 1200px) {
    div.video-icon {
        margin-right: 25px;
    }
}
div.video-cat {
    flex-basis: 75%;
}
@media only screen and (min-width: 600) {
    div.video-cat {
        flex-basis: 70%;
    }
}
div.video-cat h3 {
    margin-bottom: 0;
    color: var(--flashBlue);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    letter-spacing: -.4px;
}
@media only screen and (min-width: 600px) {
    div.video-cat h3 {
        line-height: 37px;
        font-size: 2.6rem;
    }

}
div.cat-expander {
    flex-basis: 15%;
    text-align: right;
    line-height: 26px;
}
@media only screen and (min-width: 600px) {
    div.cat-expander {
        flex-basis: 25%;
        line-height: 3.7rem;
    }
}
div.video-dropdown > div.cat-expander > div.btn-box {
    position: relative;
    background-color: #e87928;
    border-radius: 3px;
    float: right;
    height: 2.6rem;
    width: 2.6rem;
    cursor: pointer;
}
@media only screen and (min-width: 600px) {
    div.video-dropdown > div.cat-expander > div.btn-box {
        height: 3.3rem;
        width: 3.3rem;
    }
}
@media only screen and (min-width: 1024px) {
    div.video-dropdown > div.cat-expander > div.btn-box {
        height: 4rem;
        width: 4rem;
    }
}
div.cat-expander > div.btn-box > div.arrow {
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    top: 22%;
    left: 27%;
    transform: rotate(-45deg);
    transition: all .3s ease-in-out;
}
div.cat-expander > div.btn-box > div.arrow.open {
    transform: rotate(135deg);
    top: 40%;
}
@media only screen and (min-width: 600px) {
    div.cat-expander > div.btn-box > div.arrow {
        top: 25%;
        left: 32%;
    }
}
@media only screen and (min-width: 1024px) {
    div.cat-expander > div.btn-box > div.arrow {
        top: 30%;
        left: 36%;
    }
    div.cat-expander > div.btn-box > div.arrow.open {
        top: 45%;
    }
}
div.vids-wrapper {
    border: 1px solid #c4c4c4;
    margin-top: -2px;
    display: none;
    opacity: 0;
    transition: all .3s linear .5s;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.vids-wrapper.show {
    display: flex;
    opacity: 1;
    padding: 2rem 1rem;
}
@media only screen and (min-width: 600px) {
    div.vids-wrapper.show {
        padding: 3.2rem 1.6rem 1.5rem;
    }
}
@media only screen and (min-width: 1200px) {
    div.vids-wrapper.show {
        padding: 6.2rem 3.2rem 3rem;
    }
}
div.sh-video {
    margin-bottom: 3rem;
    display: flex;
    flex-basis: 80%;
    flex-wrap: wrap;
    align-items: end;
}
@media only screen and (min-width: 768px) {
    div.sh-video {
        flex-basis: 45%;
        margin-bottom: 2rem;
    }
}
@media only screen and (min-width: 1200px) {
    div.sh-video {
        flex-basis: 30%;
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        margin-bottom: 4rem;
    }
}
div.sh-video > h5 {
    width: 100%;
    text-align: right;
}
div.video-tile-header {
    display: flex;
    align-items: end;
    width: 100%;
}
div.video-tile-header h4 {
    text-align: center;
    color: var(--primaryBlue);
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.2rem;
    width: 100%;
}
@media only screen and (min-width: 1200px) {
    div.video-tile-header {
        height: 7.2rem;
        margin-bottom: 1rem;
    }
    div.video-tile-header h4 {
        font-size: 2.4rem;
        line-height: 2.4rem;
    }
}
div.video-tile.royalSlider {
    background: transparent;
    border-radius: 2px;
    width: 330px;
}
@media only screen and (min-width: 375px) {
    div.video-tile.royalSlider {
        width: 345px;
    }
}
@media only screen and (min-width: 412px) {
    div.video-tile.royalSlider {
        width: 382px;
    }
}
@media only screen and (min-width: 428px) {
    div.video-tile.royalSlider {
        width: 398px;
    }
}
@media only screen and (min-width: 600px) {
    div.video-tile.royalSlider {
        width: 510px;
    }
}
@media only screen and (min-width: 768px) {
    div.video-tile.royalSlider {
        width: 255.6px;
    }
}
@media only screen and (min-width: 992px) {
    div.video-tile.royalSlider {
        width: 345.6px;
    }
}
@media only screen and (min-width: 1200px) {
    div.video-tile.royalSlider {
        width: 265px;
        height: 147px;
    }
}
div.video-tile.royalSlider > div.rsOverflow,
#training_intro div.rsOverflow {
    border: 1px solid #000000;
    border-radius: 3px;
}
.rsContent .rsImg {
    border-radius: 3px;
}
.rsDefault .rsSlide {
    background: transparent;
}
#video_wraps div.rsGCaption {
    display: none;
}
#training_intro {
    background: #ffffff;
}
div.training-info {
    padding: 2rem 4rem 0;
}
div.training-info p,
div.training-info h3 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    div.training-info p,
    div.training-info h3 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    div.training-info p:last-of-type {
        margin-bottom: 4rem;
    }
}
@media only screen and (min-width: 992px) {
    div.training-info p,
    div.training-info h3 {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    div.training-info p:last-of-type {
        margin-bottom: 5.5rem;
    }
}
@media only screen and (min-width: 1200px) {
    div.training-info p:last-of-type {
        margin-bottom: 7.5rem;
    }
}
div.training-info h3 {
    color: var(--flashBlue);
    font-weight: 700;
    margin-bottom: 2.5rem;
}
div.v-disclaimer {
    padding-bottom: 3rem;
}
div.v-disclaimer p {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

/* Pages Menu */
#pages_banner {
    background-color: var(--primaryBlue);
    margin: .5rem 0 1.5rem;
}
@media only screen and (min-width: 1280px) {
    #pages_banner {
        margin: 0 0 2.5rem;
    }
}
#pages_banner h1 {
    margin-bottom: .25rem;
    color: var(--white);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    padding: .5rem;
}
@media only screen and (min-width: 768px) {
    #pages_banner h1 {
        padding: .9rem 0;
    }
}
@media only screen and (min-width: 1280px) {
    #pages_banner h1 {
        padding: 1.7rem 0;
    }
}
#pages_banner h1 a {
    color: var(--white);
    margin-right: 2rem;
}
#pages_banner h1 a.active {
    font-weight: 600;
}
#pages_banner h1 a span {
    display: inline-block;
    width: .75rem;
    height: .75rem;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(225deg);
    margin-left: .5rem;
}
